<div class="flex flex-col justify-center items-center h-[60vh] overflow-clip">
  <div
    class="w-20 h-20 mat-bg-surface-container-high rounded-full p-5 flex justify-center items-center mb-6"
  >
    <mat-icon class="scale-150">favorite_border</mat-icon>
  </div>

  <h2 class="text-2xl font-bold mb-3">Your wishlist is empty</h2>

  <p class="mat-text-on-secondary-container mb-6">Save items you love for later!</p>

  <button routerLink="/products/all" matButton="filled">Start Shopping</button>
</div>
