@let vm = store.headerVm();

<mat-toolbar
  #header
  class="w-full px-4! md:px-12! lg:px-24! py-8! md:py-9! gap-2 lg:gap-4 elevated z-50 fixed"
>
  @if (isProductsPageActive()) {
    <button matIconButton (click)="ui.toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  }

  <a routerLink="/" class="block relative w-auto h-10 md:h-14 aspect-3/1">
    <img
      [ngSrc]="theme.isDark() ? 'logo-white.webp' : 'logo-dark.webp'"
      alt="Shop Sphere logo"
      fill
      priority
    />
  </a>

  @if (isProductsPageActive()) {
    <mat-form-field class="hidden! sm:flex! mx-auto basis-1/2 drop-shadow-md">
      <mat-icon matPrefix>search</mat-icon>
      <input
        (keyup.enter)="onSearch($event)"
        type="search"
        matInput
        placeholder="Search Products..."
      />
    </mat-form-field>

    <span class="max-sm:flex-1"></span>
  } @else {
    <span class="flex-1"></span>
  }

  <button
    matIconButton
    routerLink="/wishlist"
    [matBadge]="vm.wishlistCount"
    [matBadgeHidden]="vm.wishlistCount <= 0"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <button
    matIconButton
    routerLink="/cart"
    [matBadge]="vm.cartItemsCount"
    [matBadgeHidden]="vm.cartItemsCount <= 0"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>

  @if (auth.user(); as user) {
    <button matIconButton [matMenuTriggerFor]="userMenu">
      <img
        class="rounded-full aspect-square object-cover object-center"
        [src]="user.imageUrl || 'user.webp'"
        [alt]="user.name"
      />
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before">
      <div class="px-3 min-w-50">
        <p class="text-sm font-bold">{{ user.name }}</p>
        <p class="text-xs mat-text-on-secondary-container">{{ user.email }}</p>
      </div>

      <mat-divider />

      <button class="min-h-8!" mat-menu-item (click)="auth.logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </mat-menu>
  } @else {
    <button matIconButton [matMenuTriggerFor]="authMenu" class="md:hidden!">
      <mat-icon>account_circle</mat-icon>
    </button>
    <div class="hidden md:flex gap-2">
      <button matButton="text" (click)="openSignInDialog()">Sign In</button>
      <button matButton="filled" (click)="openSignUpDialog()">Sign Up</button>
    </div>
    <mat-menu #authMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="openSignInDialog()">
        <mat-icon>login</mat-icon>
        Sign In
      </button>
      <button mat-menu-item (click)="openSignUpDialog()">
        <mat-icon>person_add</mat-icon>
        Sign Up
      </button>
    </mat-menu>
  }
</mat-toolbar>
