<header class="site-header">
  <div class="wrapper" data-type="wide">
    <div class="site-header__inner">
      <div>
        <button class="btn" (click)="onToggleSidenav()">
          <i class="fa-solid fa-bars"></i>
        </button>

        <a routerLink="/">
          <h2 class="logo">Modern Store</h2>
        </a>
      </div>

      <div class="search-container">
        <input type="search" name="search" id="search" placeholder="Search Products..." />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <div>
        <a class="btn btn-wishlist" routerLink="wishlist">
          <i class="fa-solid fa-heart"></i>
          @if (wishlist().length > 0) {
            <p class="badge">
              {{ wishlist().length }}
            </p>
          }
        </a>

        <a class="btn btn-cart" routerLink="cart">
          <i class="fa-solid fa-cart-shopping"></i>
          @if (cart().length > 0) {
            <p class="badge">
              {{ cart().length }}
            </p>
          }
        </a>

        <button class="btn">Sign In</button>
        <button class="btn" data-type="primary">Sign up</button>
      </div>
    </div>
  </div>
</header>
