.sidenav {
  z-index: 2;
  position: fixed;
  inset-block: 0;
  inset-inline-start: 0;
  overflow-y: scroll;
  border: none;
  margin: 0;

  translate: -100% 0;
  transition: translate 0.3s;

  background-color: #fff;
  inline-size: min(100%, 16rem);
  padding: 6.5rem 2rem;

  ul {
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;

    .btn-primary {
      background-color: var(--background-main);
      color: var(--text-high-contrast);
    }
  }
}

.open {
  translate: 0 0;
}
