<button (click)="onToggleWishlist()" class="icon">
  <ng-content select="i" />
</button>

<img [src]="product().imageUrl" [alt]="product().description" />

<div class="content flow">
  <h2>{{ product().name }}</h2>
  <p>{{ product().description }}</p>

  <p [class]="product().inStock ? 'in-stock' : 'out-stock'">
    {{ product().inStock ? 'In Stock' : 'Out of Stock' }}
  </p>

  <div class="stars">
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <i class="fa-solid fa-star"></i>
    <span>({{ product().reviewCount }})</span>
  </div>

  <div class="flex-between">
    <p class="price">{{ product().price | currency }}</p>
    <button class="btn" data-type="primary">
      <i class="fa-solid fa-cart-shopping"></i> Add to Cart
    </button>
  </div>
</div>
