<article class="grid grid-cols-[3fr_1fr_1fr]">
  <div class="flex items-center gap-4">
    <img
      [src]="item().imageUrl"
      [alt]="item().description"
      class="w-24 h-24 rounded-lg object-cover aspect-square"
    />

    <div>
      <p class="text-lg font-semibold">{{ item().name }}</p>
      <p class="text-lg mat-text-on-secondary-container">{{ item().price | currency }}</p>
    </div>
  </div>

  <app-qty-selector
    [quantity]="item().quantity"
    (quantityUpdated)="store.setCartItemQuantity(item().id, $event)"
  />

  <div class="flex flex-col items-end">
    <p class="text-lg font-semibold">{{ item().totalPrice | currency }}</p>

    <div class="flex -me-3">
      <button matIconButton (click)="store.addToWishlist(cartItem())">
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button matIconButton class="danger" (click)="store.removeCartItem(item().id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</article>
