<article appViewPanel>
  <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
    <mat-icon>local_shipping</mat-icon>
    <span>Shipping Information</span>
  </h2>

  <form class="grid grid-cols-1 lg:grid-cols-2 gap-4">
    <mat-form-field>
      <input type="text" matInput placeholder="First Name" />
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Last Name" />
    </mat-form-field>

    <mat-form-field class="lg:col-span-2">
      <textarea type="text" matInput placeholder="Address" rows="2"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="City" />
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="State" />
    </mat-form-field>

    <mat-form-field class="lg:col-span-2">
      <input type="text" matInput placeholder="Zip" />
    </mat-form-field>
  </form>
</article>
