<article class="p-8 max-w-100">
  <header class="flex justify-between">
    <div>
      <h2 class="text-xl font-medium mb-1">Sign In</h2>
      <p class="mat-text-on-secondary-container text-sm">
        Sign in to your account to continue shopping
      </p>
    </div>

    <div>
      <button tabindex="-1" matIconButton matDialogClose class="-mt-2 -me-2">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </header>

  <form [formGroup]="signInForm" class="mt-6" (ngSubmit)="signIn()">
    <mat-form-field class="mb-4">
      <input matInput type="email" placeholder="Enter your email" formControlName="email" />
      <mat-icon matPrefix>email</mat-icon>
    </mat-form-field>

    <mat-form-field class="mb-6">
      <input
        matInput
        [type]="passwordVisible() ? 'text' : 'password'"
        placeholder="Enter your password"
        formControlName="password"
      />

      <mat-icon matPrefix>lock</mat-icon>

      <button
        matIconButton
        matSuffix
        type="button"
        class="me-2"
        (click)="passwordVisible.set(!passwordVisible())"
      >
        <mat-icon>{{ passwordVisible() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <button type="submit" class="w-full" matButton="filled">Sign In</button>

    <p class="text-sm mat-text-on-secondary-container mt-2 text-center">
      Don't have an account?
      <a class="cursor-pointer mat-text-primary" (click)="openSignUpDialog()">Sign Up</a>
    </p>
  </form>
</article>
