<section class="section" data-padding="compact">
  <div class="flow">
    <h1>{{ category() | titlecase }}</h1>
    <p>{{ filteredProducts().length }} products found</p>

    <div class="grid-auto-fill">
      @for (product of filteredProducts(); track product.id) {
        <app-product-card [product]="product">
          @if (productsService.isInWishlist(product.id)) {
            <i
              class="fa-solid fa-heart"
              [class.wishlisted]="productsService.isInWishlist(product.id)"
            ></i>
          } @else {
            <i class="fa-regular fa-heart"></i>
          }
        </app-product-card>
      }
    </div>
  </div>
</section>
